@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
:root {
  --green: #54B192;
  --green-l: #A4CEC0;
  --gray: #3F3D56;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 100%;
  width: 100%;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
/*header*/
header {
  position: fixed;
  width: 100%;
} 