@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
:root {
  --green: #54B192;
  --green-l: #A4CEC0;
  --gray: #3F3D56;
  --white: #fff;
  --smooth: all .3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 100%;
  width: 100%;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.btn {
  text-align: center;
  background: var(--gray);
  color: var(--white);
  padding: .8rem 2.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}
.btn:hover {
  background: var(--green-l);
  transition: var(--smooth);
}
/*header*/
header {
  position: fixed;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.navbar__logo {
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.navbar__logo img {
  width: 100%;
}
.navbar__list{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--gray);
  width: 60%;
  max-width: 100%;
  transform: translateX(-100%);
  opacity: 0;
  transition: var(--smooth);
  z-index: 10;
}
.navbar__list.navbar__open {
  transform: translateX(0);
  opacity: 1;
}
.navbar__link{
  padding: 20px;
  font-size: 1.4rem;
  display: block;
  color: var(--white);
}
.navbar__link:hover {
  color: var(--green);
  transition: var(--smooth);
}
.navbar__btn{
  font-size: 1.4rem;
  margin: 20px;
  background: var(--green);
}
/*Menu icon*/
.navbar__icons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: var(--smooth);
  z-index: 10;
}
.navbar__icon{
  width: 40px;
  height: 6px;
  border-radius: 5px;
  background: var(--gray);
  position: relative;
  transition: var(--smooth);
}
.navbar__icon:before,
.navbar__icon:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 6px;
  border-radius: 5px;
  background: var(--gray);
  transition: var(--smooth);
}
.navbar__icon:before {
  transform: translateY(-12px)
}
.navbar__icon:after {
  transform: translateY(12px)
}
/* menu icon animation */
.open .navbar__icon {
  transform: translateX(-50px);
  background: transparent;
}
.open .navbar__icon:before {
  transform: rotate(45deg) translate(35px, -35px);
}
.open .navbar__icon:after {
  transform: rotate(-45deg) translate(35px, 35px);
}
@media screen and (min-width: 992px) {
  .navbar__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translateX(0);
    position: initial;
    opacity: 1;
    background: transparent;
  }
  .navbar__link {
    color: var(--gray);
  }
  .navbar__btn {
    background: var(--gray);
  }
  .navbar__icons {
    display: none;
  }
}

/* banner */
#banner { 
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}
.banner__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.banner__heading {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
.banner__heading h1 {
  font-size: 2rem;
  padding-top: 4em;
  margin-bottom: .8em;
}
.banner__heading p {
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 1.5em;
  font-size: 1.5rem;
}
.banner__social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3em;
  font-size: 1.5rem;
}
.banner__social a {
  color: var(--gray);
  transition: var(--smooth);
} 
.banner__social a:hover {
  color: var(--green-l);
}

@media (min-width: 992px) {
    .banner__img {
      width: 60%;
    }
    .banner__heading {
      text-align: initial;
      margin: 0;
      padding-top: 0;
    }
    .banner__social {
      justify-content: flex-start;
    }
    .banner__social a {
      margin-right: 45px;
    }
}